
    .wrapper
    {
        background-color:black;
        opacity:0.9;
        height:auto;
        width:800px;
        height:100%;
        position:fixed;
        left:50%;
        top:0%;
        margin-left: -400px; 
        margin-top:0px;    
        

    }
    .searchBar
    {
        background-color: darkorange;
        height:100px;
        width:800px;
        position:fixed;
        /*text-align:center;*/
        margin-top:30px;
    }

    .a-öButt
    {
        -moz-border-radius:5px;
        -webkit-border-radius: 5px;
        border:2px;
        font-weight:bold;
        font-size:20px;
        margin-left:20px;
        margin-top:20px;
        background-color:transparent;
        color:Blue;
    }
    
    #txtLoginForm
    {
        -moz-border-radius:2px;
        -webkit-border-radius: 2px;
        border:2px;
        padding-left:5px;
        margin-right:5px;
        float:right;
        font-size:16px;
        font-family:Aharoni;
    }

    #txtSearch
    {
        padding-left:5px;
        /*-moz-border-radius:15px;
        -webkit-border-radius: 5px;*/
        border-top-left-radius: 2px;
        border-bottom-left-radius:2px;
        border:2px;
        font-weight:bold;
        font-family:Aharoni;
        font-size:20px;
        height:45px;
        margin-left:40px;
        margin-top:20px;
        margin-right:-4px;
        width:600px;
    }

     #btnSearch
    {
        background-color:white;
        border-bottom-right-radius:2px;
        border-top-right-radius:2px;
        border:2px;
        height:50px;
        font-size:20px;
        margin-top:30px;
    }

    #loginForm
    {
        -moz-border-radius:2px;
        -webkit-border-radius: 2px;
        border:2px;
        margin-top:5px;
        float:right;
        font-size:16px;
        font-family:Aharoni;
    }
   

    body
    {
        background-image:url('http://www.imgbase.info/images/safe-wallpapers/photography/indoor/40465_indoor_library.jpg');
    }
    
  