<style>

    .mainSearch
    {
        background-color: Black;
        height:auto;
        width:800px;
        height:100%;
        position:fixed;
        left:50%;
        margin-left: -400px;     
        

    }
    .content
    {
        
        background-color: darkorange;
        height:80%;
        width:800px;
        position:fixed;
        margin-top:2%;
    }
    #loginButt
    {
        margin-right:5px;
        margin-top:5px;
        float:right;
    }
</style>

<div class="mainSearch">
    <input id="loginButt" type="button" value="Sign in"> 
    <input type="text" id="loginButt" value="password"  />
    <input type="text" id="loginButt" value="username" />
    <div class="content">

    </div>
</div>
